<% if @current_user.present? && @current_user.admin? %>
  <%= link_to "Add an Artist", new_artist_path %>
<% end %>

<h1> All Artists </h1>
<% @artists.each do |artist| %>
  <p><%= link_to artist.name, artist %></p>
  <% if artist.image.present? %>
    <p><%= link_to image_tag artist.image, artist %></p>
  <%end%>
<% end %>
