

<h1> All Artists </h1>
<% @artists.each do |artist| %>
  <p><%= link_to artist.name, artist %></p>
  <% if artist.image.present? %>
    <p><%= link_to image_tag artist.image, artist %></p>
  <%end%>
<% end %>
