<div id='media-delete'>
  <iframe title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/<%= youtube_embed(@video.vid) %>" frameborder="0" allowfullscreen></iframe>
</div>
<h1>Are you sure you want to delete this video? </h1>
<h1><%= link_to "Delete Video", @video, :method => 'delete', :class => 'btn btn-lg btn-danger' %></h1>
