<h1>All Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <div id='event'>
        <% if event.poster.present? %>
          <%= link_to image_tag(event.poster, :class => "img-responsive", :class => 'img-thumbnail', :id => 'event_img'), event %>
        <% end %>
        <p><%= link_to event.title, event %><p>
    </div>
  <% end %>
</div>
