<% if @current_user.present? %>
  <h1>Welcome <%= @current_user.email %></h1><br/>

  <h1 class='text-primary' style='font-size:25px'>List of Events organazied Nomad
    Art Group that you liked
  </h1>

  <%= link_to "Choose Which Events you like", event_add_path %>
  <br><br>

  <% @current_user.events.each do |event| %>
    <div class='user-container'>
      <div id='user-events'>
        <% if event.poster.present? %>
          <%= link_to image_tag(event.poster,:width=>'70%'), event %>
        <% end %>
      </div>
      <div id='user-event-title'>
        <%= link_to event.title, event %>
      </div>
    </div>
    <hr>
  <% end %>
  
<% end %>
