<div id='media-delete'>
  <%= image_tag @photo.img %>
</div>

<h1> Are you sure you want to delete this image? </h1>
<h1><%= link_to "Delete Image", @photo, :method => 'delete', :class => 'btn btn-lg btn-danger' %></h1>
